/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: rgba(254, 254, 254, 0.05);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    background: white;
    border-radius: 0.375rem;
}

.logo-img {
    height: 2rem;
}

.links {
    display: none;
    font-size: 17px;
}

@media (min-width: 768px) {
    .links {
        display: flex;
        gap: 1rem;
    }
}

.nav-link {
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.3s;
    text-decoration: none;
}

.nav-link:hover {
    color: #FF2626;
}

.app-button {
    background: #FF2626;
    font-size: 1.2vw;
    color: white;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
    border-radius: 0.375rem;
    text-transform: capitalize;
    transition: background 0.3s;
    border: none;
}

.app-button:hover {
  color: #eb1111;
  background: #eaeaea;
}

/* Hero Section */
.hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    background-image:url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .hero-section {
        flex-direction: row;
        text-align: left;
    }
}

.hero-content {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

@media (min-width: 768px) {
    .hero-content {
        width: 50%;
    }
}

.hero-title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    text-transform: capitalize;
    font-weight: 700;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 3.75rem;
    }
}

.highlight {
    color: #FF2626;
}

.hero-description {
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.25;
    letter-spacing: 0.05em;
}

.hero-buttons {
    display: flex;
    flex-direction:row;
    gap: 1rem;
    align-items: center;
    border: none;
}

@media (min-width: 768px) {
    .hero-buttons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-size: 4vw;
    }
}

.download-button {
    background: #FF2626;
    color: white;
    margin-top: 5vw;
    font-size: 1.2vw;
    font-weight: 500;
    text-transform: capitalize;
    padding: 1rem;
    border-radius: 0.375rem;
    transition: background 0.3s;
    border: none;
}

.download-button:hover {
    color: #eb1111;
    background: white;
}

.business-button {
    margin-top: 5vw;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1.2vw;
    padding: 1rem 1.2rem;
    border-radius: 0.375rem;
}

.business-button:hover{
color: #eb1111;
background: #F5F5F5;
}

.arrow-icon {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}

/* Page 2 Section */
.page-2-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    min-height: 100vh;
    background: white;
    padding: 6rem 0;
}

.box {
    
    max-width: 55%;
    background: #F7F7F7;
    border-radius: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

@media (min-width: 768px) {
    .box {
       
        flex-direction: row;
        height: 330px;
        padding: 0;
       
    }
}

.box-image {
    background: #DBDBDB;
    width: 100%;
    height: 300px;
    border-radius: 1.875rem;
}

@media (min-width: 768px) {
    .box-image {
        width: 300px;
        height: 100%;
    }
}

.box-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 768px) {
    .box-image img {
        object-fit: cover;
    }
}

.box-overview {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .box-overview {
        width: 60%;
        height: 100%;
    }
}

.box-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.box-header img {
    height: 1.5rem;
}

.box-header h2 {
    font-weight: 500;
    font-size: 1.125rem;
    text-transform: capitalize;
}

.box-overview h1 {
    font-weight: bold;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .box-overview h1 {
        font-size: 2.5rem;
    }
}

.box-overview p {
    font-weight: 500;
    padding-right: 1rem;
}

.learn-more {
    color: #FF2626;
    font-weight: 600;
    text-transform: capitalize;
}

.learn-more-button {
    background: #FF2626;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    transition: background 0.3s;
    cursor: pointer;
}

.learn-more-button:hover {
    background: #eb1111;
}

/* Page 3 Section */
.page-3-section {
    background: #EE0303;
    width: 100%;
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2.5rem;
}

@media (min-width: 768px) {
    .page-3-section {
        flex-direction: row;
        height: 500px;
        padding: 0;
    }
}

.mobile {
    width: 100%;
    max-width: 460px;
    height: 300px;
}

@media (min-width: 768px) {
    .mobile {
        height: 570px;
        margin-bottom: 4.375rem;
    }
}

.mobile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 768px) {
    .mobile img {
        object-fit: cover;
    }
}

.overview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    text-align: center;
}

@media (min-width: 768px) {
    .overview {
        text-align: left;
    }
}

.overview h1 {
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .overview h1 {
        font-size: 3.75rem;
    }
}

.black-text {
    color: black;
}

.overview p {
    font-size: 1.125rem;
    padding-right: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .overview p {
        padding-right: 2.5rem;
        width: 70%;
    }
}

.download-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin-top: 0.75rem;
}

@media (min-width: 768px) {
    .download-section {
        flex-direction: row;
    }
}
/* Page 4 Section */
.page-4-section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

.curve-image {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 10%;
}

.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#container-heading {
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    line-height: 1.2;
}

@media (min-width: 768px) {
    #container-heading {
        font-size: 3rem;
    }
}

.elements-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.elements {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.elem-div {
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.elem-div:hover {
    transform: translateY(-10px);
}

.elem-div img {
    width: 60px;
    height: auto;
}

.elements-mid {
    width: 100%;
    max-width: 350px;
    height: 100%;
    background: #DBDBDB;
    border-radius: 20px;
    overflow: hidden;
}

.elements-mid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive Media Queries */
@media (max-width: 1200px) {
    .container {
        gap: 1.5rem;
    }

    .elements-container {
        justify-content: space-around;
    }

    .elements-mid {
        max-width: 320px;
    }

    .elements {
        max-width: 280px;
    }

    .elem-div {
        gap: 1rem;
    }
}

@media  (max-width: 992px ) and (min-width:768px) {
    .elements-container {
        flex-direction: column;
        align-items: center;
    }
    .elements{
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        
    }
    .elem-div{
        width: 40vw;
    }

    .elements-mid {
        max-width: 50%;
        height: 300px;
        
    }
    .elements-mid img{
        object-fit: contain;
    }

    .elem-div {
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    .container {
        gap: 1rem;
    }

    .elements {
        max-width: 100%;
       gap: 30px;
    }

    .elements-mid {
        max-width: 100%;
        height: 300px;
overflow: hidden;
    }
    .elements-mid img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 576px) {
    #container-heading {
        font-size: 6vw;
    }

    .elem-div {
        gap: 0.75rem;
        padding: 1rem;
        margin-top: 20px;
        cursor: pointer;
    }

    .elements-mid {
        max-width: 100%;
        height: 300px;
    }
    .elements-mid img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/* Page 5 Section */
.page-5-section {
    width: 100%;
    min-height: 500px;
    background: #FF2626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 1rem;
    flex-wrap: wrap;
}

.content {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 2rem;
    max-width: 100%;
    flex: 1;
}

#page-5-pic {
    height: 100%;
    max-width: 660px;
    overflow: hidden;
    flex: 1;
}

#page-5-pic img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0 1rem;
    line-height: 1.2;
}

.content p {
    font-size: 1.125rem;
    padding: 0 1rem;
}

.element {
    width: 100%;
    max-width: 400px;
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 1.25rem;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

/* Responsive Media Queries */
@media (min-width: 1200px) {
    .page-5-section {
        padding:0;
        gap: 5rem;
    }

    #page-5-pic {
        height: 500px;
        max-width: 660px;
    }

    .content h1 {
        font-size: 3rem;
    }

    .element {
        padding: 2rem;
    }
}

@media (max-width: 992px) {
    .page-5-section {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    #page-5-pic {
        max-width: 100%;
    }

    .content {
        margin-left: 0;
        gap: 1.25rem;
    }

    .content h1 {
        font-size: 2.25rem;
    }
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }

    .element {
        max-width: 100%;
        padding: 1rem;
    }
}

@media (max-width: 576px) {
    .content h1 {
        font-size: 1.75rem;
    }

    .content p {
        font-size: 0.875rem;
    }

    #page-5-pic {
        height: 50%;
        width: 100%;
    }
    #page-5-pic img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .element {
        padding: 0.75rem;
    }
}
/* Footer Section */
.footer {
    width: 100%;
    background-color: #F5F5F5;
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
    width: 100%;
    margin-bottom: 2rem;
}
footer h1{
    font-size: 1.5rem;
    text-transform: capitalize;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    /* min-width: 200px;
    max-width: 300px; */
}

.footer-section h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: #333;
}

.footer-logo {
    width: 6rem;
    margin-bottom: 1rem;
}

.footer-link {
    font-size: 0.875rem;
    text-decoration: none;
    color: #333;
    text-transform: capitalize;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #FF2626;
}

.footer-bottom {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #eaeaea;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.footer-text {
    font-size: 0.875rem;
    color: #4B5563;
}

.footer-icons {
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
}

.footer-icons a {
    color: #4B5563;
    transition: color 0.3s ease;
}

.footer-icons a:hover {
    color: #FF2626;
}

/* Responsive Media Queries */
@media (min-width: 1200px) {
    .footer-content {
        gap: 3rem;
    }
    
    .footer-bottom {
        padding: 1.5rem 0;
    }

    .footer-text {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .footer-content {
        justify-content: center;
        text-align: center;
    }

    .footer-section {
        /* align-items: center; */
    }

    .footer-text {
        text-align: center;
        width: 100%;
    }

    .footer-icons {
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-content {
        align-items: center;
        gap: 1.5rem;
        
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 576px) {
    .footer-content{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-section h4 {
        font-size: 1rem;
    }
    .footer h1{
        font-size: 1rem;
        text-transform: capitalize;
    }

    .footer-link {
        font-size: 0.575rem;
    }

    .footer-icons {
        font-size: 1rem;
    }

    .footer-text {
        font-size: 0.875rem;
    }
}

/* Mobile-specific Styles */
@media (max-width: 767px) {
    .hero-title {
        font-size: 1.75rem;
    }

    .hero-description {
        font-size: 0.95rem;
    }
    .box{
        max-width: 100%;
    }

    .box-overview {
        padding: 1rem;
    }
    
    .box-overview h1 {
        font-size: 1.75rem;
    }

    .page-3-section {
        padding: 2rem 1rem;
    }
    
   

  
}
